.candidate {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 5);
  font-size: 1vw;
  height: 90%;
}

.title {
  border: 1px solid #000;
  padding: 0.5rem;
}
.button {
  width: 40%;
  height: 25%;
  border-radius: 10px;
  margin-left: 60%;
  font-size: 1.2vw;
}
