.page {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  width: 200vh;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.heading1 {
  display: inline;
  width: 20%;
  height: 85%;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: 2vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: rgb(100, 218, 100);
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-left: 10px;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: 2vw;
  
  list-style-type: none;
  padding: 1rem;
  text-decoration: none;
}
.navItem {
  text-decoration: none;
  color: black;

  border-radius: 10px;
  padding: 0.3rem;
}
