.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 100%;
  flex: start;
  padding: 1rem;
}

.candidates {
  color: black;
  flex: 8;
  background: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.heading2 {
  font-size: 1.8vw;
  background: whitesmoke;
  margin-top: 10px;
  margin-bottom: 10px;
}
.click {
  width: 20%;
  height: 10%;
  font-size: 1.5vw;
  margin-bottom: 10px;
}
.err {
  color: red;
  font-size: 1.5vw;
}
p {
  color: rgb(20, 179, 20);
  font-size: 2vw;
}
